In [1]:
import pandas as pd
import os

In [2]:
os.chdir("../")
print(os.getcwd())

c:\Users\valen\Desktop\etl_workshop003

In [3]:
df = pd.read_csv("data/merged_data.csv")

In [4]:
df.head()

,Unnamed: 0,country,happiness_score,gdp_per_capita,social_support,healthy_life_expectancy,freedom,perceptions_of_corruption,generosity,year
0,0,Switzerland,7.587,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2015
1,1,Iceland,7.561,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,2015
2,2,Denmark,7.527,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,2015
3,3,Norway,7.522,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699,2015
4,4,Canada,7.427,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811,2015